:root {
  --background: #333;
  --text-color: #ccc;
  --body-font: 'Abel', sans-serif;
  --button-color: #892b2b;
}

body {
  background-color: var(--background);
  color: #ccc;
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 3;
}

h1 {
  font: inherit;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  font: inherit;
  font-size: 20px;
  text-align: center;
}

.button-class {
  border: none; /* overwrites browser defaults */
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-transform: capitalize;
  background-color: var(--button-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity, 0.2s letter-spacing;
  width: 250px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  letter-spacing: 1px;
}

ul {
  list-style-type: none; /* Removes bullet points */
  text-align: center;
  padding: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  line-height: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* To show modal above other content */
  overflow: auto; /* Allow scrolling if screen isn't high enough */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  background: #333;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
}

.modal h1 {
  font-family: inherit;
  font-color: inherit;
  margin-top: 1;
}

.modal p {
  font-family: inherit;
  font-color: inherit;
  margin-bottom: 1;
}

.pokemon-sprite {
  filter: drop-shadow(3px 3px 2px black);
  width: 50%;
}

.pokemon-type {
  text-transform: capitalize;
}
