:root {
  --background: #333;
  --text-color: #ccc;
  --body-font: 'Abel', sans-serif;
}

body {
  background-color: var(--background);
  color: #ccc;
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 2;
}
